@charset "UTF-8";
body {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  background-color: rgba(10,194,149,1.00)
}

.parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  z-index: -1;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#header.parallax{
  background-image: url(../images/mainHeaderImage.jpg);
  text-align: center;
  padding-top: 40vh;
  font-weight: bolder;
  font-size: 15vw;
  color: rgba(255,255,255,0.75);
}

.parallaxText {
  background-color: #15AE78;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: xx-large;
}

.photoBar {
  background-color: black;
  margin-top: -5vh;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  text-align: center;
  z-index: 1;
  font-size: xx-large;
  border-width: 5vh;
  -moz-border-image: linear-gradient(to top, rgba(255,247,163,0) 0%, rgba(255,247,163,1.00) 30%, rgba(255,247,163,1.00) 70%, rgba(255,247,163,0) 100%) 30% round round;
	-webkit-border-image: linear-gradient(to top, rgba(255,247,163,0) 0%, rgba(255,247,163,1.00) 30%, rgba(255,247,163,1.00) 70%, rgba(255,247,163,0) 100%) 30% round round;
	border-image: linear-gradient(to top, rgba(255,247,163,0) 0%, rgba(255,247,163,1.00) 30%, rgba(255,247,163,1.00) 70%, rgba(255,247,163,0) 100%) 30% round round;
  border-left: 0;
  border-right: 0;
  background: rgba(255,247,163,0);
}

.flyerBar {
background-color: black;
  margin-top: -20px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  text-align: center;
  z-index: 1;
  font-size: xx-large;
  border-width: 5vh;
  -moz-border-image: linear-gradient(to top, rgba(255,247,163,0) 0%, rgba(46,56,246,1.00) 30%, rgba(46,56,246,1.00) 70%, rgba(255,247,163,0) 100%) 30% round round;
	-webkit-border-image: linear-gradient(to top, rgba(255,247,163,0) 0%, rgba(46,56,246,1.00) 30%, rgba(46,56,246,1.00) 70%, rgba(255,247,163,0) 100%) 30% round round;
	border-image: linear-gradient(to top, rgba(255,247,163,0) 0%, rgba(46,56,246,1.00) 30%, rgba(46,56,246,1.00) 70%, rgba(255,247,163,0) 100%) 30% round round;
  border-left: 0;
  border-right: 0;
  background: rgba(255,247,163,0);
}

#photoParallax.parallax{
  background-image: url(../images/photography.jpg);
  text-align: center;
  padding-top: 40vh;
  font-weight: bolder;
  font-size: 10vw;
  color: rgba(255,255,255,0.75);
}

#flyerParallax.parallax{
  background-image: url(../images/London_Skyline.png);
  text-align: center;
  padding-top: 40vh;
  font-weight: bolder;
  font-size: 10vw;
  color: rgba(0,0,0,0.86);
  margin-top: -10px;
}

#websitesParallax.parallax{
  background-image: url(../images/src.png);
  text-align: center;
  padding-top: 40vh;
  font-weight: bolder;
  font-size: 10vw;
  color: rgba(0,0,0,0.86);
}

#navbar {
  background-color: #333;
  position: fixed;
  top: -50px;
  width: 100%;
  display:block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.gallery{
  background-color: white;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 1vw;
  border-radius: 1vw;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.galleryColumn {
  flex: 28vw;
  max-width: 28vw;
  padding: 1vw;
}

.galleryColumn img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .galleryColumn {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .galleryColumn {
    flex: 100%;
    max-width: 100%;
  }
}

.regularPhoto{
  width: 28vw; 
}

.featuredPhoto{
  width: 58.5vw;
} 